In [ ]:
import pandas
data = pandas.read_csv('http://modcom.co.ke/data/datasets/pima.csv')

data
# #clasification 1-Positive  0-Negative
# #Ml -rules: 1-no emtpty
#             2-x:imputs can not be strings i.e a column with countries ,encode them to 0-9

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [ ]:
#assume there was un empty in outcome
# data['Outcome'].filna(2,inplase=True)
#classification

In [ ]:
#split into fetures (X )and outcom/target(y),predicted classification models.
#Training Data 70%
array =data.values
x=array[:,0:8]
y=array[:,8]
#NB: above has all rows
#Testing data 30%
from sklearn import model_selection
X_train,X_test,Y_train,Y_test=model_selection.train_test_split(x,y,test_size=0.30,random_state=42)

#Import algorithms
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

#https://justpaste.it/5vsd4 cross validation code



# Spot Check Algorithms
models = []
models.append(('LR', LogisticRegression(solver='liblinear', multi_class='ovr')))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('RF', RandomForestClassifier()))
models.append(('GBC', GradientBoostingClassifier()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
models.append(('SVM', SVC(gamma='auto')))
# evaluate each model in turn

for name, model in models:
      kfold = model_selection.KFold(n_splits=10, random_state=42,shuffle=True)
      cv_results = model_selection.cross_val_score(model, X_train, Y_train, cv=kfold, scoring='accuracy')
      print(name, cv_results.mean())

LR 0.7654437456324248
LDA 0.7729559748427673
RF 0.7802585604472397
GBC 0.7709643605870021
KNN 0.7208944793850453
CART 0.7244584206848358
NB 0.7507686932215234
SVM 0.6498602375960866

In [ ]:
model=LogisticRegression(solver='liblinear',multi_class='ovr')
model.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='ovr', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
prediction =model.predict(X_test)
# print('Model Prediction',prediction)
# print('Expected',Y_test)

# from sklearn.metrics import accuracy_score
# print('Model accuracy',accuracy_score(Y_test,prediction))
from sklearn.metrics import  classification_report
print(classification_report(Y_test,prediction))
from sklearn.metrics import  confusion_matrix
print(confusion_matrix(Y_test,prediction))
#126+50=negative 151  30+50=positive 80 more data should be added to the positive side
#Class inbalance is found 
#add more data  to  the positive
#create artificall data-Read on SMOTE

              precision    recall  f1-score   support

         0.0       0.81      0.83      0.82       151
         1.0       0.67      0.62      0.65        80

    accuracy                           0.76       231
   macro avg       0.74      0.73      0.73       231
weighted avg       0.76      0.76      0.76       231

[[126  25]
 [ 30  50]]

In [ ]:
newpatient=[[12,89,70,5,20,34.6,0.256,68]]
predicted = model.predict(newpatient)
'Predicted @70% accuracy',predicted

('Predicted @70% accuracy', array([0.]))